.container{
    width: 60%;
    left: 20%;
    top: 35%;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    column-gap: 2%;
}

.item{
    flex-basis: 30%;
    position: relative;
    border: solid 2px;
    border-radius: 20px;
    text-align: center;
    font-size: clamp(10px, 3vw, 60px);
}

img{
    position: relative;
    margin-top: 3%;
    width: 7vw;
    height: auto;
    max-width: 200px;
}

.item:hover {background-color: rgba(0,0,0,0.4); cursor: pointer;}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column; 
    }
    .item{
        flex: 0 0 calc(10% - 0px);
    }
    .container img{
        width: 10%;
    }
}

