:root{
    --main-bg-col: #18c953;
    --main-txt-col: #0a16c2;
}

body{
    background-color: var(--main-bg-col);
    color: var(--main-txt-col);
}

.header-container{
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
    position: absolute;
    border-bottom: solid 2px;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
}

.header-title{
    order: 2;
    width: 50%;
    text-align: center;
    font-size: clamp(10px, 3vw, 60px);
}

.header-menu{
    text-align: center;
    margin-right: 10%;
    font-size: clamp(10px, 3vw, 60px);
}

.menu-content {
    display: none;
    position: absolute;
    background-color: var(--main-bg-col);
    border: solid 2px;
    min-width: auto;
    text-align: center;
    z-index: 1;
}

.menu-content a{
    background-color: rgba(0,0,0,0.4);
    color: var(--main-txt-col);
    font-size: clamp(10px, 1vw, 30px);
    border: solid 2px;
    padding:  2px 5px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.color-picker{
    order: 3;
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.color-picker img{
    margin: 0%;
    width: auto;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;  
  }  

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;    
}
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

.header-menu:hover .menu-content {display: block;}
.header-menu:hover {cursor: pointer;}
.menu-content a:hover {background-color: rgba(0,0,0,0.2);}